@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.App {
  text-align: center;
}

.me-container {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-top: 5%;
  max-height: 100%;
  max-width: 100%;
}

.self-picture {
  pointer-events: none;
  border-radius: 1000px;
  height: 50vw;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center top;
  border: 1vw solid #208aae;
  width: 50vw;
  max-width: 500px;
  max-height: 500px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.major-container {
  color: #ff9b71;
}

.text-container {
  white-space: nowrap;
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
  line-height: 1.3;
  justify-content: center;
  font-size: 2vw;
}

.name-container {
  font-family: "Rubik", sans-serif;
  font-size: 6vw;
  font-weight: 600;
  color: #d8d78f;
}

.App-header {
  background-color: #a61c3c;
  height: 100%;
  width: 100vw;
  display: flex;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-aspect-ratio: 1/1) {
  /* CSS rules for when height is greater than width */
  .nav-button {
    font-size: 1.3vw;
    font-weight: 500;
  }
  .nav-buttons {
    margin-right: auto;
  }
  .logo {
    display: none;
  }
  .me-container {
    flex-direction: column;
    align-items: center;
  }
  .text-container {
    text-align: center;
    font-size: 4vw;
  }
  .name-container {
    font-size: 10vw;
    text-align: center;
  }
  .self-picture {
    border: 2vw solid #208aae;
  }
}
