.courseDiv {
  display: flex;
  color: #d8d78f;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  font-size: 2vw;
}

.courseDescription {
  float: right;
  text-align: left;
  height: 10vw;
  width: 15vw;
  border: 5px solid #252636;
  border-radius: 25px;
  text-indent: 0.8vw;
}

.courseDetails {
  margin-top: 0.5vw;
  display: grid;
}

.courseTitle {
  color: #d8d78f;
  font-size: 0.9vw;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 0.4vw;
  text-indent: 1vw;
}

.courseContent {
  text-align: justify;
  font-size: 0.8vw;
  color: #a4a6c6;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}

.courseName {
  margin-left: 1.5vw;
  font-size: 1.5vw;
}

.gradeDiv {
  background-color: #4b4e70;
  border: 0.3vw solid #252636;
  height: 1.5vw;
  aspect-ratio: 1/1;
  border-radius: 5px;
  text-align: center;
  color: #d8d78f;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  font-size: 1.3vw;
}

.courseFact {
  border: 5px solid #252636;
  background-color: #4b4e70;
  border-radius: 10px;
  margin-bottom: 1vw;
  width: 19vw;
  height: 2vw;
  align-items: center;
  float: left;
}

.factTitle {
  margin-top: 0.3vw;
  color: #d8d78f;
  font-family: "Rubik", sans-serif;
  font-size: 1.1vw;
  font-weight: 500;
  float: left;
  margin-left: 1vw;
}

.factInfo {
  margin-top: 0.3vw;
  color: #c2c072;
  font-family: "Rubik", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  float: right;
  margin-right: 1vw;
}

@media (max-aspect-ratio: 1/1) {
  /* CSS rules for when height is greater than width */
  .courseName {
    font-size: 3vw;
  }
  .gradeDiv {
    height: 4vw;
    font-size: 3.7vw;
  }
  .courseFact {
    width: 42vw;
    height: 5vw;
  }
  .factInfo {
    font-size: 2.4vw;
  }
  .factTitle {
    font-size: 2.5vw;
  }
  .courseDescription {
    width: 30vw;
    height: 24vw;
  }
  .courseTitle {
    font-size: 2vw;
  }
  .courseContent {
    font-size: 1.7vw;
  }
}
