@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.App {
  text-align: center;
}

.App-header {
  background-color: #a61c3c;
  min-height: 100vh;
  display: flex;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.horizonBar {
  background-color: #d8d78f;
  height: 8px;
}

.transcriptRegion {
  background-color: #a61c3c;
  height: 100vh;
}
